body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color:blue;
}

.navigation {
    text-align: left;
    max-width: 15%;
    border: 3px solid blue;
    float: left;
    padding-right: 20px;
}

.header {
    text-align: center;
    font-size: 25px;
}

ul>a:link {
    color:blue;
    text-decoration: none;
}

ul>a:hover {
    color:red;
    text-decoration: underline;
}

ul>a:active {
    color:yellow;
    text-decoration: underline;
}

.newtable {
    border: 3px solid blue;
    margin-top: 20px;
    margin-left: 230px;
}

.newImg {
    border: 3px solid blue;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: 100px;
}

.text {
    max-width: 80%;
    margin-left: 230px;
}

.lists {
    max-width: 80%;
    margin-left: 230px;
}

.content {
    margin-left: 230px;
    margin-top: 20px;
    max-width: 175px;
}

